extends ./base
block header
    script.
        $(function(){
            $("#changeForm").submit(function(ev){
                ev.preventDefault();
                $.api.post("account/change_password",$(this).serialize()).then(function(res){
                    location.href="/";
                })
            })
        })
block content
    h1 パスワード変更
    .panel
        form#changeForm
            input.input(name="password",placeholder="パスワード",type="password")
            button(type="submit")
                .no_disabled
                    i.fa.fa-paper-plane
                    | 変更
                .yes_disabled
                    i.fa.fa-spinner.fa-pulse
                    | 変更中
