extends ./base
block header
    script.
        $(function(){
            $("#appForm").submit(function(ev){
                ev.preventDefault();
                $.api.post("applications/create",$(this).serialize()).then(function(res){
                    app = res.response;
                    location.href="/dev/app/"+app.id;
                })
            })
        })
block content
    h1 開発者センター
    .panel
        h2 あなたが作成したアプリケーション
        ul#apps
            for app in apps
                li
                    a(href="/dev/app/"+app.id)= app.name
    .panel
        h2 アプリケーションを作成する
        form#appForm
            input.input(name="name",placeholder="アプリ名")
            button(type="submit")
                .no_disabled
                    i.fa.fa-paper-plane
                    | 作成
                .yes_disabled
                    i.fa.fa-spinner.fa-pulse
                    | 作成中
