extends ./base
block header
    meta(name="app-id",content=app.id)
    style.
    script.
        $(function(){
            var appId = $('meta[name="app-id"]').attr("content")
            $("#getMyAccessToken").click(function(){
                var $this = $(this)
                $this.prop("disabled",true);
                $.api.post("applications/get_my_access_token",{id:appId}).then(function(res){
                    prompt("コピーしてください",res.response)
                },function(err){
                    console.log(err)
                }).then(function(){
                    $this.prop("disabled",false)
                })
            })
            $("#resetKey").click(function(){
                if(confirm("appKey/appSecretをリセットします。\nこれを実行すると、同時に現在このアプリに割り当てられているすべてのアクセストークンも失効します。よろしいですか？")){
                    $.api.post("applications/change_key",{id:appId}).then(function(){
                        location.reload(true);
                    })
                }
            })
        })
block content
    h1 アプリ管理
    .panel
        h2= app.name
        dl
            dt appKey
            dd: input.input(value=app.appKey,readonly)
            dt appSecret
            dd: button(onclick="prompt('please copy and paste!','"+app.appSecret+"')") クリックで表示
            dt あなたのアクセストークン
            dd: button#getMyAccessToken クリックで取得
            dt appKey/appSecretをリセット
            dd: button#resetKey 実行する(1回のみ確認あり)
