.panel
    form#postForm
        textarea.input(name="text",placeholder="ねえねえ、今どんな気持ち？",rows=5)
        input.hidden(name="files")
        div
            button#postAddFile
                i.fa.fa-image
            span#postFileName
            button(type="submit")
                i.fa.fa-paper-plane
                |  投稿
    form.hidden#postFileForm
        input#postFile.hidden(name="file",type="file",accept="image/jpeg,image/png,image/gif,image/bmp,video/mp4")
    style.
        #postForm button{
            display:inline-block;
            width:initial;
            font-size:1em;
        }
        #postForm{
            position:relative;
        }
        #postForm button[type="submit"]{
            position:absolute;
            bottom:0;
            right:0;
            width:8em;
        }
        #postFileName{
            display:inline-block;
            margin:0 0.5em;
            max-width:20em;
            overflow:hidden;
            white-space:nowrap;
        }
    script.
        $(function(){
            var $form = $("#postForm");
            function fileUpload(file,filename="貼り付けたファイル"){
                $("#postFileName").html('<i class="fa fa-spin"></i>アップロード中...');
                $.api.upload(file).then(function(res){
                    $("#postForm input[name='files']").val(res.response.id);
                    $("#postFileName").text(filename);
                })
            }
            $form.submit(function(ev){
                ev.preventDefault();
                $.api.post("posts/create",$(this).serialize()).then(function(post_obj){
                    post_obj = post_obj.response
                    $("#postForm textarea").val("");
                    $("#postForm [name='files']").val("");
                    $("#postFileName").text("");
                })
            })
            $("#postForm>textarea").keydown(function(event){
                // Ctrl+Enter判定
                if(event.keyCode !== 13) return;
                if(event.ctrlKey){
                    $form.submit();
                }
            })
            $("#postAddFile").click(function(e){
                e.preventDefault();
                $("#postFile").click();
            })
            $("#postFile").change(function(){
                if(!this.value) return;
                var filename = this.value.split("\\").pop();
                fileUpload($("#postFileForm").get(0),filename);
            })
            // 以下ドラッグアンドドロップ受け入れ用
            $form.on("dragstart",function(e){
                e = e.originalEvent;
                e.dataTransfer.effectAllowed = "copy";
                e.preventDefault();
            });
            $form.on("dragover",function(e){
                e = e.originalEvent;
                if(!e.files) return;
                e.preventDefault();
            })
            $form.on("drop",function(e){
                e = e.originalEvent;
                if(!e.dataTransfer.files) return;
                e.preventDefault();
                var file = e.dataTransfer.files[0];
                fileUpload(file,file.name);
            })
        })
