.post
    span.post-user
        a(href="/u/{{post.user.screenName|escape}}")= post.user.name
        small @#{post.user.screenName}
    a(href="/p/{{post.id}}")
        time.relative_time(datetime="{{post.createdAt}}",title="{{post.createdAt}}")= post.createdAt
    div.post-text!= post.text_html
