doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        link(rel="stylesheet",href="//cdn.honokak.osaka/honoka/3.3.7-a/css/bootstrap.min.css")
        title kyoppie ヘルプセンター
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand(href="/help/") kyoppie ヘルプセンター
        .container
            ol.breadcrumb
                li: a Home
            .panel.panel-default
                .panel-body
                    h1 ページ一覧
                    ul
                        for page in pages
                            li: a(href="/help/"+page["file"])= page["name"]
