extends help/page

block content
    h1 Internet Explorerについて
    p kyoppieでは、Internet Explorerをサポートしていません。
    p kyoppieをご利用になる際は、Internet Explorer以外のブラウザをご利用ください。例えば:
    ul
        li: a(href="https://www.google.co.jp/chrome/browser/desktop/") Google Chrome(推奨)
        li: a(href="https://www.mozilla.org/ja/firefox/new/") Firefox
        li: a(href="https://www.microsoft.com/ja-jp/windows/microsoft-edge") Microsoft Edge
        li: a(href="https://vivaldi.com/?lang=ja_JP") Vivaldi
