extends help/page

block content
    h1 JavaScriptを有効にしてください
    p kyoppieを利用する場合、JavsScriptが必要です。
    p お使いのブラウザーの設定でJavaScriptが有効にできる場合は、有効にしてください。
    p お使いのブラウザーがJavaScriptに対応していない場合は、他のブラウザを利用することを検討してみてください。他のブラウザの例:
    ul
        li: a(href="https://www.google.co.jp/chrome/browser/desktop/") Google Chrome(推奨)
        li: a(href="https://www.mozilla.org/ja/firefox/new/") Firefox
        li: a(href="https://www.microsoft.com/ja-jp/windows/microsoft-edge") Microsoft Edge
        li: a(href="https://vivaldi.com/?lang=ja_JP") Vivaldi
