extends help/page

block content
    h1 予約されたスクリーンネーム
    p kyoppieでは、一部のスクリーンネームを予約しています。
    p 予約されたスクリーンネームは、公式アカウントしか利用できません。
    h2 公式アカウントを作成される場合
    p 公式アカウントを作成される場合、一旦スクリーンネームを適当なものにしてから、運営にご連絡ください。
    p 運営が公式である方法を確認した上で、スクリーンネームの変更と、公式アカウントの属性を有効にします。
    h2 この予約が妥当でないと思われる場合
    p 運営にご連絡ください。
