extends help/page

block content
    h1 アカウントの凍結
    p kyoppieでは、運営が
        a(href="/rules") 利用規約
        | に違反しているとみなした場合にアカウントが凍結されることがあります。
    p アカウントの凍結が妥当でないと思われる場合には、
        a(href="/talk/admin") @admin
        | までご連絡ください。
