doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        link(rel="stylesheet",href="/static/main.css")
        if title
            title=title+" - kyoppie"
        else
            title kyoppie
        script!="var CONFIG="+config.web_config_json
        block header
    body
        .container
            block content