doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        if title
            title=title+" - kyoppie"
        else
            title kyoppie
        block header
    body
        block content