doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        link(rel="stylesheet",href="/static/css/post.css")
        link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        if session["access_token"]
            meta(name="access_token",content=session["access_token"])
        if title
            title=title+" - kyoppie"
        else
            title kyoppie
        script!="var CONFIG="+config.web_config_json
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="/static/js/api.js")
        script(src="/static/js/notify.js")
        script(src="/static/libs/nunjucks.min.js")
        block header
    body
        .container
            block content
        #notify
