extends ./base
block header
    script(src="/_/tojinja/post")
    script.
        $(function(){
            function newWebSocketConnection(){
                $.showNotify("ストリーミングに接続しています...");
                var ws = $.api.websocket("posts/timeline");
                ws.onopen = function(){
                    $.showNotify("ストリーミングに接続しました！")
                    setTimeout(function(){
                        $.hideNotify();
                    },500)
                }
                ws.onmessage = function(e){
                    e = JSON.parse(e.data);
                    var post = e.response;
                    console.log(post)
                    $("#timeline").prepend(template_post({post:post}));
                }
                ws.onclose = function(){
                    newWebSocketConnection();
                }
            }
            newWebSocketConnection();
            $("#postForm").submit(function(ev){
                ev.preventDefault();
                $.api.post("posts/create",$(this).serialize()).then(function(post_obj){
                    post_obj = post_obj.response
                    $("#postForm textarea").val("");
                })
            })
            $("#postForm>textarea").keydown(function(event){
                console.log(event)
                if(event.keyCode !== 13) return;
                if(event.ctrlKey){
                    $("#postForm").submit();
                }
            })
        })
block content
    .panel
        form#postForm
            textarea.input(name="text",placeholder="ねえねえ、今どんな気持ち？",rows=5)
            button(type="submit")
                i.fa.fa-paper-plane
                |  投稿
    br
    .posts#timeline
        for post in posts
            include ./common/post
