extends ./base
block header
    script.
        $(function(){
            $("#loginForm").submit(function(ev){
                ev.preventDefault();
                var $this = $(this);
                $this.find('[type="submit"]').prop("disabled",true);
                $.post("/_/ajax/login",$(this).serialize()).then(function(res){
                    $this.find('[type="submit"]').prop("disabled",false);
                    alert(res);
                },function(err){
                    console.log(arguments)
                })
            })
        })
block content
    .panel
        h1 kyoppie
        form#loginForm(action="/error/nojs")
            label
                input(type="text",name="screenName",placeholder="スクリーンネーム")
            label
                input(type="password",name="password",placeholder="パスワード")
            button.block(type="submit")
                span.no_disabled
                    i.fa.fa-sign-in
                    |  ログイン
                span.yes_disabled
                    i.fa.fa-spinner.fa-pulse
                    |  ログイン中...