extends ./base
block header
    script(src="/static/query_string.js")
    script.
        $(function(){
            $("#loginForm").submit(function(ev){
                ev.preventDefault();
                var $this = $(this);
                $this.find('[type="submit"]').prop("disabled",true);
                $.post("/_/ajax/login",$(this).serialize()).then(function(res){
                    $this.find('[type="submit"]').prop("disabled",false);
                     if(!res.status){
                        alert("未知のレスポンスです。\nリロードしてみてください");
                    } else if(res.status == "ng"){
                        var message = res.message;
                        switch(res.message){
                            case 'user-not-found':
                                message="ユーザー名が間違っています";
                                break;
                            case 'invalid-password':
                                message="パスワードが間違っています";
                                break;
                        }
                        alert(message);
                    } else if(res.status != "ok"){
                        alert("未知のレスポンスです。\nリロードしてみてください");
                    } else {
                        // 絶対にOK
                        var nextUrl = $.getUrlVar("next");
                        if(nextUrl) {
                            location.href=nextUrl;
                        } else {
                            location.href="/";
                        }
                    }
                },function(err){
                    alert("サーバーでエラーが発生しました。\nしばらく待ってからもう一度ログインしてみてください。");
                })
            })
        })
block content
    .panel
        h1 kyoppie
        form#loginForm(action="/error/nojs")
            label
                input(type="text",name="screenName",placeholder="スクリーンネーム",required)
            label
                input(type="password",name="password",placeholder="パスワード",required)
            button.block(type="submit")
                span.no_disabled#login_default
                    i.fa.fa-sign-in
                    |  ログイン
                span.yes_disabled
                    i.fa.fa-spinner.fa-pulse
                    |  ログイン中...
