extends ./base
block content
    h1 メニュー
    .panel
        ul
            li: a(href="/") トップ
            li: a(href="/dev/") 開発者センター
            li: a(href="/settings/password") パスワード変更
            li: a(href="/users") ユーザー一覧
