extends ./base
block content
    h1 メニュー
    .panel
        ul
            li: a(href="/") トップ
            if session.access_token
                li: a(href="/dev/") 開発者センター
                li 設定
                    ul
                        li: a(href="/settings/name") 名前変更
                        li: a(href="/settings/password") パスワード変更
                        li: a(href="/settings/avatar") アイコン変更
                li: a(href="/logout") ログアウト
            else
                li: a(href="/login") ログイン
                li: a(href="/register") 新規登録
            li: a(href="https://github.com/kyoppie/kyoppie/issues") Feedback (GitHubアカウントが必要)
            li: a(href="/public") 人々の投稿
            li: a(href="/users") ユーザー一覧
            li: a(href="/rules") 利用規約
