extends ./base
block title
    title 利用規約 - kyoppie
    style.
        .right{
            text-align:right;
            width:100%;
        }
block content
    .panel
        h1 利用規約
        p.right 2016年12月5日から適応開始
        p この利用規約は、kyoppie運営（以下、「運営」）がkyoppie上で提供するサービスの利用条件を定めるものです。登録ユーザーには、本規約に従って、kyoppieをご利用いただきます。
        h2 利用登録
        p 登録希望者がこちらが用意した方法で利用登録を申請し、運営がこれを承認することによって、利用登録が完了するものとします。
        p 運営は、利用登録の申請者に以下の事由があると判断した場合、利用登録の申請を承認しないもしくは承認を取り下げることがあり、その理由については一切の開示義務を負わないものとします。
        ol
            li こちらが用意した方法以外で利用登録をした場合
            li 利用規約に違反したことがあるものからの申請である場合
            li その他、運営が利用登録を相当でないと判断した場合
        h2 パスワード及びアクセストークンについて
        p ユーザーは、自己の責任において、kyoppieのパスワード及びアクセストークンを管理するものとします。
        p 運営は、正しいパスワードでログインもしくはアクセストークンを利用してkyoppieを利用した場合には、そのアカウントを登録したユーザー自身による利用とみなします。なお、運営側の不手際でパスワードまたはアクセストークンが流出した場合はユーザー自身による利用とみなさない場合もあります。
        h2 禁止行為
        p ユーザーは、kyoppieの利用にあたり、以下の行為をしてはなりません。
        ol
            li 法令もしくは公序良俗に反する行為
            li 犯罪行為を推奨、誘導する行為
            li ユーザーをそのサイトに誘導する目的で、悪質なサイトのURLを貼る行為
            li kyoppieの運営を妨害するおそれのある行為
            li 他のユーザーになりすます行為
            li 他人の知的財産権、肖像権、プライバシー、名誉その他の権利を侵害する行為
            li 過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地などによる差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含み他人に不快感を与える表現を、kyoppieに投稿または送信する行為
            li 営業、宣伝、広告、勧誘、その他営利を目的をする行為（運営の認めたものを除く）、性行為やわいせつな行為を目的とする行為、面識のない異性との出会いや交際を目的とする行為、他のユーザーに対する嫌がらせや誹謗中傷を目的とする行為
            li 宗教活動または宗教団体への勧誘行為
            li ユーザーの許可なく、サードパーティのアクセストークンを使ってkyoppieのコンテンツを作成または更新する行為
            li その他、運営が不適切と判断する行為
            li 以上の行為が含まれていると運営が判断した内容が掲載されているWebサイト等へのURLが含まれたテキストまたはファイルを投稿、または送信する行為
        h2 kyoppieの提供の停止等
        p 運営は、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなくkyoppieの全部または一部の提供を停止または中断することができるものとします。
        ol
            li kyoppieのサーバープログラムの更新や保守を行う場合
            li 地震、落雷、火災、停電または天災などの不可抗力により、kyoppieの提供が困難となった場合
            li コンピュータまたは通信回線等が何らかの理由により停止した場合
            li kyoppieへの攻撃が行われ、kyoppieの提供が困難となった場合
            li その他、運営がkyoppieの提供が困難と判断した場合
        h2 処罰
        p この利用規約に反した行為を行った場合、以下のような処罰がくだされることがあります。
        ul
            li 該当するデータの非表示化もしくは削除
            li 該当するデータをアップロードしたアカウントの一時もしくは永久的な凍結
            li 該当するアプリケーションのパーミッション剥奪もしくは凍結
            li 該当するアプリケーションを作成したアカウントの一時もしくは永久的な凍結
            li アカウントのスクリーンネームや名前等の強制変更
            li 関係各所への発信者情報(IPアドレス等)の開示
            li kyoppieの利用禁止
        h2 サービス内容の変更等
        p 運営は、ユーザーに通知することなく、kyoppieの内容を変更しまたはkyoppieの提供を中止することができるものとし、これによってユーザーに生じた損害について一切の責任を負いません。
        h2 利用規約の変更
        p 運営は、必要と判断した場合には、ユーザーに通知することなくいつでも本規約を変更することができるものとします。
        h2 通知または連絡
        p ユーザーと運営との間の通知または連絡は、運営が定める方法によって行うものとします。
        h2 権利義務の譲渡の禁止
        p ユーザーは、運営の事前の許可無く、kyoppie上で作成されたアカウントもしくはアカウントに紐づけされているデータを第三者に譲渡し、または担保に供することは出来ません。
        h2 準拠法
        p 本規約の解釈に当たっては、日本法を準拠法とします。本規約に日本法と矛盾する記述があると思われた場合は、運営までお問い合わせください。
