extends ./base
block content
    h1 ユーザー一覧
    .panel
        ul
            for user in users
                li
                    a(href="/u/"+user.screenName)= user.name
                        small @#{user.screenName}
