#headerBar{
    font-size:16px;
    height:40px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(255,255,255,0.9);
    box-shadow:0px 1px 0px rgba(192,192,192,0.9);
}
body{
    padding-top:40px;
}
#headerBarLeftItems{
    padding:0;
    margin:0;
}
#headerBarLeftItems li{
    display:inline-block;
    font-size:20px;
    padding:0;
}
#headerBarLeftItems li a{
    display:inline-block;
    padding:10px;
}
#headerBarLeftItems li:first-child{
    padding-left:10px;
}
